
<div class="container">
    <h2>User Login</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text/danger">{{msg}}</small>
        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" class="form-control" placeholder="Enter Email"
            name="email" [(ngModel)]="user.emailId" 
            required pattern="^[\w]+[\w.+-]*@[\w-]{2,}(\.[\w-]{2,})?\.[a-zA-Z]{2,3}$"
            #email="ngModel"
            [class.is-invalid]="email.invalid&&email.touched">

            <div *ngIf="email.errors&&(email.invalid&&email.touched)">
                <small class="text-danger" *ngIf="email.errors?.['pattern']">
                    Enter the valid emailID
                </small>
            </div>

        </div><br>
        <div class="form-group">
            <label for="pwd">Password : </label>
            <input type="password" class="form-control" placeholder="Enter password"
            name="pwd" [(ngModel)]="user.password" #password="ngModel"
            required [class.is-invalid]="password.invalid&&password.touched">

                <small class="text-danger" [class.d-none]="password.valid || 
                password.untouched"> password is required field </small>
            </div><br>

            <div class="checkbox">
                <label><input type="checkbox" name="remember">Remember me</label>
            </div>
            <br>
            <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">
                Login
            </button>
    </form>
    <small style="float:right" [routerLink]="['/registration']">New User? Register here</small>
</div>